.dropbtn {
    cursor: pointer;
    font-size: 20px;
    /* font-weight: bold; */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px;
    width: max-content;
    border-radius: 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */